<template>
  <div class="new-product_form">
    <div class="column">
      <div class="form-group">
        <label>Название</label>
        <input type="text" placeholder="Название" class="form-control" aria-required="true" aria-invalid="false">
        <span class="small text-danger" style="display: none">Name is required</span>
      </div>
      <div class="form-group">
        <label>Цена</label>
        <input type="text" placeholder="Цена" class="form-control" aria-required="true" aria-invalid="false">
        <span class="small text-danger" style="display: none">Price is required</span>
      </div>
      <div class="form-group">
        <label>Цвет</label>
        <select name="colors" class="form-control categorie-select" aria-required="true" aria-invalid="false" v-model="color">
          <option class="option" v-for="color in colors" v-bind:key="color">{{color.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Размер</label>
        <select name="sizes" class="form-control categorie-select" aria-required="true" aria-invalid="false" v-model="size">
          <option v-for="size in sizes" v-bind:key="size">{{size.name}}</option>
        </select>
      </div>
    </div>
    <div class="column">
      <div class="form-group">
        <label>Фотографии</label>
        <input type="text" placeholder="Название" class="form-control" aria-required="true" aria-invalid="false">
        <span class="small text-danger" style="display: none">Name is required</span>
      </div>
      <div class="form-group">
        <label>Название</label>
        <textarea type="number" placeholder="Описание" class="form-control description" aria-required="true" aria-invalid="false"></textarea>
        <span class="small text-danger" style="display: none">Name is required</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'new-product',
  data () {
    return {
      // model: {}
    }
  },
  created () {
    this.$store.dispatch('colors')
  },
  computed: {
    colors () {
      return this.$store.state.colors
    },
    sizes () {
      return this.$store.state.sizes
    }
  }
}
</script>

<style scoped>
  .new-product_form {
    width: 1000px;
    /* height: 500px; */
    margin: 50px 50px;
    /* border: 1px solid grey; */
    display: flex;
    justify-content: space-between;
  }
  .column {
    padding-left: 15px;
    padding-right: 15px;
    margin: 30px 50px
  }
  .form-group {
    margin-bottom: 25px;
  }
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    letter-spacing: 0.3mm;
  }
  .form-control {
    display: block;
    width: 350px;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .text-danger {
    color: #a94442;
  }
  .categorie-select {
    width: 375px;
    height: 32px;
    color: rgb(121, 118, 118)
  }
  .description {
    min-height: 175px
  }

</style>
