<template>
  <ul class="featured-items">
    <li v-for="product in products" :key="product.id" class="featured-items__item">
      <div class="item-wrapper">
        <router-link :to="{path: '/details/'+product.id }">
          <img class="product-image" :src="imagePath(product)" alt="">
        </router-link>
        <button  @click="addToCart(product)" class="overlay overlayBtn">Add to shopping bag</button>
      </div>
      <p class="product-title">{{ product.name }}</p>
      <p><em>{{ product.price + " сом "  }}</em></p>
    </li>
  </ul>
</template>

<script>

import {mapState} from 'vuex'

export default {
  name: 'product-list',
  mounted () {
    this.$store.dispatch('loadProducts', this.$route.params.category_id)
  },
  methods: {
    imagePath (product) {
      return require(`../../assets/products/new/${product.images[0]}`)
    },
    addToCart(product) {
        this.$store.commit('addToCart', product);
    }
  },
  computed: mapState([
    'products'
  ])
  // computed: {
  //   filteredPlaces: function() {
  //     return this.products.filter(product => 
  //       product.category.some(tag => 
  //         this.checkedCategories.includes(tag.id)
  //       )
  //     )
  //   }
  // }
  // data () {
  //   return {
  //     products: []
  //   }
  // },
  // methods: {
  //   imagePath (product) {
  //     return require(`../../assets/products/dress/${product.images[0]}`)
  //   },
  //   async getProducts () {
  //     const response = await axios.get('http://localhost:3000/clothes')
  //     if (response) {
  //       this.products = response.data
  //     }
  //   },
  //   addToCart(product) {
  //       this.$store.commit('addToCart', product);
  //   }
  // },
  // mounted () {
  //   this.getProducts()
  // }
}
</script>

<style scoped>
  .featured-items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin-left: 4%;
    width: 96%;
    font-size: 16px;
    position: relative;
    transition: all .2s ease-in;
  }
  .featured-items__item {
    width: 24%;
    padding: 0 2px;
    margin: 0 2px;
    border: 1px solid white;
    height: 370px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: .7px;
    color: #121314;
    padding-bottom: 100px;
  }
  /* .featured-items__item:hover {
    transform: translateY(-40px);
  } */
  .product-image img {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .description {
    font-size: 11px;
    font-weight: normal;
    line-height: 15px;
    color: #121314;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 20px 0
  }
  .item-wrapper {
    position: relative;
    height: 280px;
    display: inline-block;
    overflow: hidden;
  }

  .overlayBtn{
    width: 100%;
    border: none;
    position: absolute;
    height: 0px ;
    bottom:0;
    left:0;
    transition: all 0.5s ease;
    background-color: white;
    letter-spacing: 0.2mm;
    opacity: 0.8;
    outline: none
}
  .item-wrapper:hover .overlayBtn {
      height: 50px;
      cursor: pointer;
  }
  .item-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 5px
  }
</style>
