<template>
  <div>
    <app-header />
    <div class="wrapper">
      <v-container class="container">
        <div class="inner-wrap">
          <div class="product_images">
            <img class="product-image" :src="imagePath(product)" alt="">
          </div>
          <div class="details">
            <div class="product_info">
              <div class="product_name_price">
                <div class="product-name">{{product.name}}</div>
              </div>
              <div class="detail-info">
              <p>
                <span>В наличии: </span>{{product.quantity}}
              </p>
              <p>
                <span>Цена: </span>{{product.price + 'сом'}}
              </p>
              <div class="size-option">
                <label for="sizes">Выберите свой размер</label>
                <select name="sizes" class="form-control categorie-select" v-model="size">
                  <option v-for="size in sizes" v-bind:key="size">{{size.name}}</option>
                </select>
              </div>
              <button @click="addToCart(product)" class="categorie-select btn">Добавить в корзину</button>
            </div>
            </div>
          </div>
        </div>
        <div detail-description-wrapper>
          <div class="description">
            <h3>Описание</h3>
            <br><br><br>
            <span>Производитель Корея. <br><br> Хлопковое платье-сарафан с поясом. <br><br> Состав 100% хлопок</span>
          </div>
          <div class="description"></div>
        </div>
      </v-container>
    </div>
  </div>
</template>

<script>

import AppHeader from '../components/AppHeader'

export default {
  name: 'details',
  props: ['id'],
  components: {
    AppHeader
  },
  computed: {
    product () {
      const id = this.id
      return this.$store.getters.productById(id)
    },
    sizes () {
      return this.$store.state.sizes
    }
  },
  methods: {
    imagePath (product) {
      return require(`../assets/products/new/${product.images[0]}`)
    },
    addToCart(product) {
        this.$store.commit('addToCart', product);
    }
  }
}
</script>

<style scoped>
  .wrapper {
    position: relative;
    width: 1170px;
    margin: 0 auto;
    top: 60px
  }
  .inner-wrap {
    width: 100%;
    display: flex;
  }
  .product {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid grey;
    padding: 30px;
    margin-bottom: 100px;
    height: 500px;
  }
  .product img {
    height: 500px;
    width: 550px
  }
  .product_info {
    margin-left: 50px;
  }
  .product_title {
    margin-top: 30px
  }
  .product_images {
    width: 50%;
    height: 100%;
    margin-top: 50px
  }
  .product_info {
    width: 100%;
    top: 60px;
    padding: 50px;
    right: 0;
    height: auto;
  }
  .row {
    width: 100%;
    float: left;
    height: 300px;
    display: flex;
  }
  .product_image {
    width: 50%;
    height: 100%;
  }
  .product_name_price {
    width: 100%;
    margin-bottom: 40px;
    display: flex
  }
  .product-name {
    width: 60%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center
  }
  .product-price {
    width: 40%;
    margin-top: 20px;
    text-align: right;
  }
  .detail-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .details {
    display: flex;
    flex-direction: column
  }
  .form-control {
    display: block;
    width: 350px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    border: 1px solid #ccc;
  }
  .categorie-select {
    width: 375px;
    height: 40px;
    color: rgb(121, 118, 118)
  }
  p {
    font-size: 16px;
    letter-spacing: 0.2mm
  }
  .size-option {
    margin-top: 50px;
  }
  label {
    letter-spacing: 0.2mm;
    margin-bottom: 10px;
    display: block
  }
  .btn {
    background: black;
    border: none;
    color: white;
    margin-top: 50px;
    letter-spacing: 0.2mm;
    outline: none
  }
  .detail-description-wrapper {
    display: flex
  }
  .description {
    margin: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .product-image {
    width: 100%;
    height: 100%;
  }
</style>
