<template>
  <div id="main">
    <app-header />
    <div class="banner">
      <h1 class="highlights">Summer 2019<br> C o l l e c t i o n</h1>
      <a href="#" class="linkToNC">Discover new collection</a>
    </div>
    <div class="newnow-box">
      <div class="newnow__content-image">
        <div class="content-menu">
          <h2>Посмотреть</h2>
          <div class="menu-wrapper">
            <ul class="menu">
              <router-link tag="li" class="link" :to="{ name: 'catalog', params: {category_id:3}}" active-class="active" exact><a>Одежда</a></router-link>
              <li>|</li>
              <router-link tag="li" class="link" :to="{ name: 'catalog', params: {category_id:2}}" active-class="active" exact><a>Аксессуары</a></router-link>
              <li>|</li>
              <router-link tag="li" class="link" :to="{ name: 'catalog', params: {category_id:1}}" active-class="active" exact><a>Обувь</a></router-link>
            </ul>
          </div>
        </div>
        <div class="new-headline">
          <h2>New <i>Now</i></h2>
          <p>Новинки каждую неделю. Вдохновитесь последними модными трендами. #YOKANewNow</p>
        </div>
        <app-newcollection />
      </div>
      <div class="free-delivery">
        <span class="delivery-condition">БЕСПЛАТНАЯ ДОСТАВКА ОТ 1500с</span>
        <span class="delivery-time">Время доставки от 1 до 5 рабочих дней</span>
      </div>
    </div>
    <app-delivery />
    <app-categories />
    <yoka-looks />
    <app-footer />
  </div>
</template>

<script>

import AppHeader from '../components/AppHeader.vue'
import AppDelivery from '../components/AppDelivery.vue'
import AppNewcollection from '../components/AppNewcollection.vue'
import AppCategories from '../components/AppCategories.vue'
import YokaLooks from '../components/YokaLooks.vue'
import AppFooter from '../components/AppFooter.vue'

export default {
  name: 'AppMain',
  components: {
    AppHeader,
    AppDelivery,
    AppNewcollection,
    AppCategories,
    YokaLooks,
    AppFooter
  }
}
</script>

<style scoped>
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-image: url(../assets/bimg32.jpg);
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-size: cover;
  animation: slide 15s linear infinite 0s;
  animation-timing-function: ease-in-out;
  transition-delay: 4s
}
@keyframes slide {
  0% {
    background-image: url(../assets/bimg32.jpg)
  }
  35% {
    background-image: url(../assets/bimg.jpeg)
  }
  75% {
    background-image: url(../assets/2.jpg)
  }
  100% {
    background-image: url(../assets/bimg32.jpg)
  }
}
.highlights {
  position: absolute;
  top: 280px;
  left: 440px;
  color: white;
  font-size: 60px;
  font-weight: 400;
  font-family: 'Julius Sans One', sans-serif;
}
.linkToNC {
  position: absolute;
  top: 750px;
  left: 550px;
  color: white;
  border-bottom: 0.5px solid white;
  font-size: 20px;
  letter-spacing: 0.7mm
}
.linkToNC:hover {
  color: grey;
  border-bottom: 0.5px solid grey;
}
.free-delivery {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
  margin-top: 100px;
  background: rgb(247, 240, 202)
}
.delivery-condition {
  margin: 20px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3mm;
  font-family: 'Julius Sans One', sans-serif;
}
.delivery-time {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 12px;
  letter-spacing: 0.3mm;
}
.newnow-box {
  margin-top: 90px;
  position: relative;
}
.new-headline {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 90px 2.5% 50px 0;
}
.new-headline h2 {
  font-weight: 100;
  letter-spacing: .3mm
}
.new-headline p {
  font-size: 15px;
  letter-spacing: .3mm
}
.newnow__content-image {
    position: relative;
    text-align: center;
    margin-left: 2.5%;
}
.content-menu {
  visibility: inherit;
  opacity: 1;
  display: flex;
  flex-direction: column;
  margin: 0 2.5% 15px 0;
  border-bottom: 1px solid #D7D7D8;
}
.content-menu h2 {
  font-weight: 100;
  font-size: 40px;
  line-height: 40px;
  color: #000;
  text-transform: uppercase;
}
.menu-wrapper {
  margin: 12px 0 30px 0;
  display: flex;
  justify-content: center
}
.menu {
  display: flex;
  width: 400px;
  justify-content: space-around
}
.link a {
  font-size: 15px;
  letter-spacing: .3mm;
   color: black;
}
.slide-img a {
  display: block;
  margin-top: 200px
}
.link a:hover {
  color: grey
}
</style>
