<template>
  <div>
    <app-header/>
    <div class="wrapper">
      <!-- <div class="category-container">
        <div class="row">
          <div class="category-wrapper">
            <img src="../assets/look5.jpg" alt="">
            <span class="text-over"><i>Блузы + Рубашки</i></span>
          </div>
          <div class="category-wrapper">
            <img src="../assets/jacket.jpg" alt="">
            <span class="text-over"><i>Пиджаки</i></span>
          </div>
          <div class="category-wrapper">
            <img src="../assets/top1.jpg" alt="">
            <span class="text-over"><i>Топы + Футболки</i></span>
          </div>
          <div class="category-wrapper">
            <img src="../assets/h.jpg" alt="">
            <span class="text-over"><i>Толстовки</i></span>
          </div>
        </div>
      </div>-->
      <div class="all-products">
        <h1>Женская одежда, обувь и аксессуары</h1>
      </div>
      <div class="content-wrapper">
        <div class="aside-wrapper">
          <ul class="side-filter">
            <h3>Одежда</h3>
            <router-link tag="li" :to="{path: '/product-list' }" v-for="c in categories" :key="c.id">
              <h4>{{c.name}}</h4>
            </router-link>
            <!-- <li class="aside-groups" v-for="c in category" :key="c.id">
              <h4>{{c.name}}</h4>
            </li>-->
          </ul>
          <ul class="filter">
            <h3>Цвета</h3>
            <ul>
              <li class="color" v-for="color in colors" :key="color.id">
                <input type="checkbox" value="black" id="black">
                <label for="black">{{color.name}}</label>
              </li>
            </ul>
          </ul>
          <ul class="filter">
            <h3>Размеры</h3>
            <ul>
              <li class="color" v-for="size in sizes" :key="size.id">
                <input type="checkbox" value="black" id="black">
                <label for="black">{{size.name}}</label>
              </li>
            </ul>
          </ul>
        </div>
        <product-list/>
      </div>
    </div>
  </div>
</template>

<script>
import AppHeader from "../components/AppHeader.vue";
import ProductList from "../components/product/ProductList.vue";

export default {
  name: "catalog",
  components: {
    AppHeader,
    ProductList
  },
  computed: {
    colors() {
      return this.$store.state.colors;
    },
    sizes() {
      return this.$store.state.sizes;
    },
    categories() {
      return this.$store.state.categories;
    },
    products() {
      return this.$store.state.products
    }
  },
  mounted() {
    this.$store.dispatch("loadProducts", this.$route.params.category_id);
    // this.$store.dispatch('loadCategory')
    // this.$store.dispatch("loadCategory")
  }
};
</script>

<style scoped>
@media (min-width: 768px) {
  .wrapper {
    padding: 90px 40px 30px 40px;
    margin-bottom: 30px;
  }
}
.category-container {
  margin-top: 40px;
}
.row {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  vertical-align: baseline;
}
.category-wrapper {
  width: 25%;
  height: 300px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-align: center;
}
.category-wrapper:hover {
  opacity: 0.6;
  cursor: pointer;
}
.text-over {
  position: absolute;
  letter-spacing: 0.1mm;
  top: 50%;
  left: 0;
  width: 100%;
  color: white;
  font-size: 18px;
}
.content-wrapper {
  position: relative;
  display: flex;
  margin-top: 50px;
}
.aside-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 10%;
}
.side-filter {
  top: 14px;
  float: left;
  height: auto;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 15px;
}
.aside-groups {
  position: relative;
}
h3 {
  letter-spacing: 0.1mm;
  font-size: 16px;
  font-weight: 600;
  font-family: "Mate SC", serif;
  margin-bottom: 16px;
}
h4 {
  letter-spacing: 0.1mm;
  font-size: 14px;
  font-weight: 100;
  font-family: "Mate SC", serif;
  padding: 10px 0;
}
h4:hover {
  color: grey;
  cursor: pointer;
}
.filter {
  top: 14px;
  float: left;
  height: auto;
  padding-left: 10px;
  margin-top: 40px;
  margin-bottom: 15px;
}
.color {
  cursor: pointer;
  margin: 7px 0;
  height: 20px;
}
.color:hover {
  opacity: 0.6;
}
.color span {
  height: 10px;
  width: 10px;
  border: 1px solid grey;
  display: inline-block;
  position: relative;
}
input[type="checkbox"] + label {
  display: block;
}
input[type="checkbox"] {
  display: none;
  margin: 0.2em;
}
input[type="checkbox"] + label::before {
  content: "";
  border: 1px solid black;
  border-radius: 2px;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
  color: transparent;
  transition: 0.2s;
}
.color label {
  color: black;
  font-size: 14px;
}
input[type="checkbox"]:checked + label::before {
  background: black;
  color: #fff;
}
input[type="checkbox"] + label:active:before {
  transform: scale(0);
}
.catalog-wrapper {
  padding-left: 30px;
}
.category-product {
  width: 33.33333%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  height: 350px;
}
.category-product img {
  width: 100%;
  height: 100%;
}
.all-products {
  z-index: 1;
  display: block;
  margin: 0 auto;
  height: auto;
  width: 600px;
  text-align: center;
}
.all-products h1 {
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
  color: #121314;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px 0;
}
img {
  width: 100%;
  height: 100%;
}
</style>
