<template>
  <div class="wrapper">
    <div class="banner">
      <div class="banner1"></div>
      <div class="banner2"></div>
    </div>
    <h1 class="headline">Summer 2019<br> C o l l e c t i o n</h1>
    <a href="#" class="linkToNC">Discover new collection</a>
  </div>
</template>

<script>
export default {
  name: 'app-banner'
}
</script>

<style scopped>
.wrapper {
  width: 100%;
  position: absolute;
  /* display: flex;
  justify-content: center */
}
.banner {
  width: 100%;
  display: flex;
  position: relative;
}
.banner1 {
  width: 50%;
  height: 800px;
  background-image: url(../assets/18.jpg);
  background-size: cover;
  background-repeat: no-repeat
}
.banner2 {
  width: 50%;
  height: 800px;
  background-image: url(../assets/25.jpg);
  background-size: cover;
  background-repeat: no-repeat
}
.headline {
  position: absolute;
  top: 280px;
  left: 440px;
  color: white;
  font-size: 60px;
  font-weight: 400;
}
.linkToNC {
  position: absolute;
  top: 750px;
  left: 550px;
  color: white;
  border-bottom: 0.5px solid white;
  font-size: 20px;
  letter-spacing: 0.7mm
}
</style>
