<template>
  <div class="categories-wrapper">
    <div class="categories">
      <div class="category-img">
        <img class="category-image" src="../assets/8.jpg" alt="">
      </div>
      <div class="category-text">
        <h3>Платья</h3>
        <p>Днем - короткие платья с принтами и в стиле casual или строгие модели для офиса.
         Вечером - длинные элегантные платья для особых случаев.</p>
         <a href="#">Купить сейчас</a>
      </div>
    </div>
    <div class="categories">
      <div class="category-text">
        <h3>Топы, Футболки</h3>
        <p>Днем - короткие платья с принтами и в стиле casual или строгие модели для офиса.
         Вечером - длинные элегантные платья для особых случаев.</p>
         <a href="#">Купить сейчас</a>
      </div>
      <div class="category-img">
        <img class="category-image" src="../assets/tops.jpg" alt="">
      </div>
    </div>
    <div class="categories">
      <div class="category-img">
        <img class="category-image" src="../assets/pants.jpg" alt="">
      </div>
      <div class="category-text">
        <h3>Брюки</h3>
        <p>Днем - короткие платья с принтами и в стиле casual или строгие модели для офиса.
         Вечером - длинные элегантные платья для особых случаев.</p>
         <a href="#">Купить сейчас</a>
      </div>
    </div>
    <div class="categories">
      <div class="category-text">
        <h3>Пиджаки</h3>
        <p>Днем - короткие платья с принтами и в стиле casual или строгие модели для офиса.
         Вечером - длинные элегантные платья для особых случаев.</p>
         <a href="#">Купить сейчас</a>
      </div>
      <div class="category-img">
        <img class="category-image" src="../assets/jackets.jpg" alt="">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app-categories'
}
</script>

<style scoped>
  .categories-wrapper {
    position: relative;
    margin: 100px 2.5%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
  }
  .categories {
    padding: 60px 0;
    display: flex;
    border-top: 1px solid lightgray;
  }
  .category-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center
  }
  .category-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }
  .category-text p {
    display: block;
    width: 70%;
    letter-spacing: 0.2mm;
    line-height: 10mm
  }
  .category-image {
    width: 350px;
    height: auto;
    border-radius: 5px
  }
  .category-text a {
    color: black;
    margin-top: 200px;
  }
</style>
