<template>
  <div class="box">
    <div class="wrapper">
      <div class="info-box">
        <img class="icon" src="../assets/hanger.png" alt="">
        <span>Бесплатная примерка</span>
      </div>
      <div class="info-box">
        <img class="icon" src="../assets/return.png" alt="">
        <span>Бесплатные возвраты</span>
      </div>
      <div class="info-box">
        <img class="icon" src="../assets/delivery-truck.png" alt="">
        <span>Доставка по Кыргызстану</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app-delivery'
}
</script>

<style scoped>
  .box {
    background-clip: border-box;
    background-color: rgb(243, 243, 243);
    background-origin: padding-box;
    position: relative;
    margin-top: 100px
  }
  .wrapper{
    width: 1024px;
    margin: 0 auto;
    display: flex;
    height: 140px;
    justify-content: space-around;
    align-items: center;
  }
  .info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }
  .info-box:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  .info-box span {
    font-weight: 400;
    letter-spacing: 0.2mm;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Anonymous Pro', monospace;
  }
  .icon {
    margin-bottom: 20px
  }
</style>
