<template>
  <div class="footer">
    <div class="register-forSale">
      <h4><i>Зарегистрируйтесь сейчас и получите скидку 10% на новую коллекцию</i></h4 >
      <input type="email" placeholder="Введите свой e-mail">
    </div>
    <div class="insta"><img src="../assets/instagram.png" alt=""><span>@yoka_urbanstyle</span></div>
    <div class="contacts"><p>Оформление заказов по телефону <b>0-996 701 444 839</b></p></div>
  </div>
</template>

<script>
export default {
  name: 'app-footer'
}
</script>

<style scoped>
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 40px;
    border-top: 1px solid lightgray;
  }
  .register-forSale {
    text-align: center;
    margin-bottom: 80px;
  }
  .register-forSale input {
    border: none;
    border-bottom: 1px solid black;
    padding: 15px 3px;
    outline: none;
    width: 300px
  }
  h4 {
    font-weight: 500;
    letter-spacing: 0.3mm
  }
  .socialapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }
  .insta {
    width: 170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-bottom: 50px
  }
  .insta:hover {
    opacity: 0.7;
  }
  .contacts p {
    font-size: 14px;
    letter-spacing: 0.3mm
  }
</style>
