<template>
  <div class="header">
    <div class="container">
      <div class="header-left">
        <div class="header-logo">
          <router-link tag="h1" class="link" :to="{ name: 'home'}"><a class="logo-name">YOKA</a></router-link>
        </div>
        <ul class="header-nav__list">
          <li class="header-nav__item"><a href="#">Новинки</a>
            <ul class="header-nav__list__child">
              <li><a href="#">Лето 2019</a></li>
            </ul>
          </li>
          <li class="header-nav__item"><a href="#">Одежда</a>
            <ul class="header-nav__list__child">
              <li><a href="#">Платья</a></li>
              <li><a href="#">Топы</a></li>
              <router-link tag="li" :to="{ name: 'catalog', params: {category_id:3}}" active-class="active" exact><a>Рубашки</a></router-link>
              <li><a href="#">Denim</a></li>
              <li><a href="#">Джинсы</a></li>
              <li><a href="#">Брюки</a></li>
              <li><a href="#">Пиджаки</a></li>
            </ul>
          </li>
          <router-link tag="li" class="header-nav__item" :to="{ name: 'catalog', params: {category_id:1}}" active-class="active" exact><a>Обувь</a>
            <ul class="header-nav__list__child">
              <router-link tag="li" :to="{ name: 'catalog', params: {category_id:1}}" active-class="active" exact><a>Кроссовки</a></router-link>
              <li><a href="#">Слиперы</a></li>
              <li><a href="#">Кеды</a></li>
              <li><a href="#">Туфли</a></li>
              <li><a href="#">Сандали</a></li>
            </ul>
          </router-link>
          <li class="header-nav__item"><a href="#">Аксессуары</a>
            <ul class="header-nav__list__child">
              <li><a href="#">Сумки</a></li>
              <li><a href="#">Очки</a></li>
              <li><a href="#">Кошельки</a></li>
              <li><a href="#">Часы</a></li>
            </ul>
          </li>
          <li class="header-nav__item"><a href="#">Скидки</a></li>
        </ul>
      </div>
      <div class="header-right">
        <router-link tag="li" class="link" :to="{ name: 'main'}"><img class="icon" src="../assets/magnifying-glass.png" alt=""></router-link>
        <router-link tag="li" class="link" :to="{ name: 'main'}"><img class="icon" src="../assets/user.png" alt=""></router-link>
        <router-link tag="li" class="link" :to="{ name: 'main'}"><img class="icon" src="../assets/like.png" alt=""></router-link>
        <!-- <router-link tag="li" class="link" :to="{ name: 'shopping-cart'}"><img class="icon" src="../assets/shopping-cart.png" alt=""><shopping-cart /></router-link> -->
        <a><shopping-cart /></a>
      </div>
    </div>
  </div>
</template>

<script>

import ShoppingCart from './ShoppingCart'

export default {
  name: 'AppHeader',
  components: {
    ShoppingCart
  }
}
</script>

<style scoped>
  .header {
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: white;
    border-bottom: 0.5px solid lightgrey
  }
  .container {
    width: 1390px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .header-left {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center
  }
  .logo-name {
    color: black;
    margin: 40px;
    letter-spacing: 3mm;
    /* font-family: 'Julius Sans One', sans-serif; */
    /* font-family: 'Buda', cursive; */
    /* font-family: 'Cinzel', serif; */
    /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'Vast Shadow', cursive; */
    /* font-family: 'Kranky', cursive; */
    font-family: 'Gaegu', cursive;
    font-weight: 400
  }
  .header-nav__list {
    display: flex;
  }
  .header-nav__item {
    height: 60px;
    text-align: center;
    display: block;
    text-align: center;
    margin: 0
  }
  .header-nav__item a {
    padding-top: 20px
  }
  .header-nav__item:after {
    display: block;
    content: "";
    position: absolute;
    top: 25px;
    height: 1px;
    background: grey;
    width: 0;
    margin-top: 25px;
    transition: width .5s ease-in-out;
    bottom: 0;
  }
  .header-nav__item:hover:after {
    width: 50%;
  }
  .header-nav__list__child {
    display: none;
    position: absolute;
    top: 100%;
  }
  .header-nav__list__child li {
    width: 500px;
    font-family: 'Julius Sans One', sans-serif;
  }
  .header-nav__list__child li a {
    padding: 10px;
  }
  .header-nav__list li {
    margin: 10px;
    width: 100px;
    display: flex;
    position: relative;
    justify-content: center;
  }
  .header-nav__list li {
    letter-spacing: 0.5mm;
    font-size: 14px;
    font-family: 'Mate SC', serif;
  }
  .header-nav__item a {
    color: black
  }
  .header-nav__list li:hover .header-nav__list__child {
    display: block;
    border-top: 1px solid lightgrey;
    width: 300px;
    height: auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 2s ease-in-out;
    opacity: 0.99;
  }
  .header-nav__list__child li a:hover {
    color: grey;
  }
  .header-right {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 120px
  }
  .icon {
    margin: 10px;
    width: 18px;
    height: 18px;
  }
  .icon:hover {
    opacity: 0.4;
  }
  .link {
    display: flex;
    align-items: center;
    justify-content: center
  }
</style>
