<template>
  <div class="swiper-wrapper">
    <div class="swipers">
      <div class="swiper">
        <div class="slide-img">
          <img class="img" src="../assets/look6.jpg" alt="">
        </div>
      </div>
      <div class="swiper">
        <div class="slide-img">
          <img class="img" src="../assets/flower.jpg" alt="">
        </div>
      </div>
      <div class="swiper">
        <div class="slide-img">
          <img class="img" src="../assets/look5.jpg" alt="">
        </div>
      </div>
      <div class="swiper">
        <div class="slide-img">
          <img class="img" src="../assets/top.jpg" alt="">
        </div>
      </div>
      <div class="swiper">
        <div class="slide-img">
          <img class="img" src="../assets/look7.jpg" alt="">
        </div>
      </div>
      <div class="swiper">
        <div class="slide-img">
          <img class="img" src="../assets/b2.jpg" alt="">
        </div>
      </div>
      <div class="swiper">
        <div class="slide-img">
          <a href="#">Посмотреть все</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'app-newcollection'
}
</script>

<style>
.swiper-wrapper {
  width: 100%;
  overflow: hidden;
}
.swipers {
  display: flex;
  width: 100%;
  overflow-x: auto;
   scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.swipers::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slide-img {
  width: 319px;
  margin-right: 8px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  max-width: 100%;
  height: auto;
}
.img:hover {
  opacity: 0.6;
  cursor: pointer;
}
.swipers::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
.swipers::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
.slide-img a {
  display: block;
  color: black;
  margin-top: 200px
}
.slide-img a:hover {
  color: grey
}
</style>
