<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <template v-slot:activator="{ on }">
        <img v-on="on" class="icon" src="../assets/shopping-cart.png" alt="">
        {{ $store.state.cartCount }}  
      </template> 
      <v-card>
        <div class="headline">
          <h4>Shopping bag</h4>({{ $store.state.cartCount }})
        </div>
        <div class="product-box" v-for="product in $store.state.cart" :key="product.id">
          <div class="img-box"><img :src="imagePath(product)" alt=""></div>
          <div class="info-box">
            <h3>{{product.name}}</h3>
            <p class="description">{{product.description}}</p>
            <div class="details">
              <div class="price-quantity">
                <p>Size:{{" " + " " +product.size}}</p>
                <div class="price">{{product.price + ' ' + 'сом'}}</div>
              </div>
              <div class="icon-delete" @click.prevent="removeFromCart(item)"><img src="../assets/delete.png" alt=""></div>
            </div>
          </div>
        </div>
        <div class="navbar-dropdown"></div>
        <v-card-actions>
          <div class="checkout">
            <div>
              <p>Total: {{ totalPrice }}</p>
              <p></p>
            </div>
            <button class="btn-checkout">CHECKOUT</button>
          </div>
        </v-card-actions>
      </v-card> 
    </v-dialog>
  </v-layout>
</template>

<script>

export default {
  name: 'shopping-cart',
  data: () => ({
    dialog: false
  }),
  computed: {
    product () {
      const id = this.id
      return this.$store.getters.productById(id)
    },
    sizes () {
      return this.$store.state.sizes
    }
    // totalPrice() {
    //     let total = 0;

    //     for (let product of this.$store.state.cart) {
    //         total += product.totalPrice;
    //     }

    //     return total.toFixed(2);
    // }
  },
  methods: {
    imagePath (product) {
      return require(`../assets/products/new/${product.images[0]}`)
    }
    //  removeFromCart(product) {
    //     this.$store.commit('removeFromCart', product);
    // }
  }
}
</script>

<style scoped>
 .product-box {
   display: flex;
   width: 100%;
   height: 250px;
   border-bottom: 1px solid rgb(207, 199, 199)
 }
 .img-box {
   width: 38%;
   padding: 10px
 }
 .img-box img {
   width: 100%;
   height: 100%;
   border-radius: 5px
 }
 .info-box {
   width: 62%;
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
   padding: 10px
 }
 .info-box h3 {
   font-family: 'Gaegu', cursive;
   font-weight: 600
 }
 .icon-delete {
   width: 30%;
   display: flex;
   justify-content: center;
   align-items: center
 }
 .icon-delete img {
   height: 23px;
   widows: 23px;
 }
 .icon {
   height: 20px;
   width: 20px
 }
 .details {
   display: flex;
   width: 100%;
   padding: 0 13px;
   justify-content: space-between;
   margin-top: 20px
 }
 .description {
   margin-top: 40px;
   padding: 10px
 }
 .checkout {
   display: flex;
   flex-direction: column;
   width: 100%;
   /* justify-content: center; */
   align-items: center;
   margin-top: 30px;
   margin-bottom: 30px
 }
 .headline {
   display: flex;
   width: 100%;
   justify-content: center;
   padding: 20px;
   height: 100px;
 }
 .headline h4 {
   font-weight: 500;
   letter-spacing: 0.3mm;
   font-family: 'Gaegu', cursive;
 }
 .price {
   font-size: 16px
 }
 .btn-checkout {
   border: none;
   background: rgb(104, 150, 177);
   color: white;
   height: 50px;
   width: 460px;
   border-radius: 10px;
   letter-spacing: 0.4mm;
   font-size: 18px;
   font-family: 'Gaegu', cursive;
   outline: none
 }
 .size-color_info {
   width: 100%;
   padding-left: 10px
 }
</style>

