<template>
  <div class="yokalooks">
    <div class="yokalooks-headline">
      <h2>YOKA <span>Girls</span></h2>
      <p>Вдохновитесь образами наших #YOKAGIRLS.</p>
    </div>
    <div class="images-view">
      <div class="image">
        <img src="../assets/d.jpg" alt="">
        <span img-text>- @yokagirl</span>
      </div>
      <div class="image">
        <img src="../assets/yoka1.jpg" alt="">
        <span img-text>- @yokagirl</span>
      </div>
      <div class="image">
        <img src="../assets/0.jpg" alt="">
        <span img-text>- @yokagirl</span>
      </div>
    </div>
    <div class="links"><a href="#">Каталог образов</a></div>
  </div>
</template>

<script>
export default {
  name: 'yoka-looks'
}
</script>

<style scoped>
  .yokalooks {
    margin: 90px 0 150px 0;
  }
  .yokalooks-headline {
    text-align: center
  }
  .yokalooks-headline p {
    font-size: 13px;
    letter-spacing: .3px;
    line-height: 19px;
    color: #17181A;
    width: 600px;
    margin: 15px auto 0 auto;
  }
  .yokalooks-headline h2 {
    font-size: 30px;
    line-height: 30px;
    color: #000;
    font-weight: 100
  }
  .images-view {
    width: 75%;
    margin: 40px auto 0 auto;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
  }
  .image {
    width: 33.33%;
    padding: 0 2px;
    border: 1px solid white;
    height: 400px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: .7px;
    color: #121314;
    margin-top: 7px;
  }
  .image img {
    width: 100%;
    height: 100%;
  }
  .links {
    margin-top: 70px;
    text-align: center;
  }
  .links a {
    color: black;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .7px;
  }
  .links a:hover {
    color: grey;
    border-bottom: 1px solid grey
  }
</style>
