<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
  @import url(https://fonts.googleapis.com/css?family=Buda:300|Cinzel|Cormorant+Garamond|Delius+Unicase|Fresca|Julius+Sans+One|Kranky|Mate+SC|Vast+Shadow|Wallpoet&display=swap);
  @import url(https://fonts.googleapis.com/css?family=Poiret+One&display=swap);
  @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro|Open+Sans+Condensed:300&display=swap);
  @import url(https://fonts.googleapis.com/css?family=Amatic+SC|Bad+Script|Source+Sans+Pro:200&display=swap);
  body {
    margin: 0;
    padding: 0
  }
  #app{
    /* position: fixed; */
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    /* width: 100vw; */
  }
  h1, h2, h3, h4 {
    padding: 0;
    margin: 0
  }
  a {
    text-decoration: none
  }
  ul {
    padding: 0;
    margin: 0
  }
  li {
    list-style-type: none
  }
</style>
