<template>
  <div class="admin-page">
    <app-header />
    <div class="admin-new">
      <div class="admin-container">
        <div>
          <ul class="admin-menu">
            <li><router-link to="/Admin">View Products</router-link></li>
            <li><router-link :to="{ name: 'new'}">New Product</router-link></li>
          </ul>
        </div>
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>

import AppHeader from '../../components/AppHeader'

export default {
  name: 'main',
  components: {
    AppHeader
  }
}
</script>

<style scoped>
  .admin-page {
  }
  .admin-menu {
    margin-top: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center
  }
  .admin-menu a {
    display: block;
    width: 170px;
    height: 40px;
    background: rgb(171, 203, 209);
    border: 2px solid rgb(240, 237, 237);
    color: white;
    padding: 10px 15px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    transform: scaleX(1);
    transition: transform 200ms ease-in;
    text-align: center;
    padding-top: 15px
  }
  .admin-menu a:hover {
    text-decoration: none;
    transform: scaleX(1.02);
  }
  .admin-new, .admin-products {
    border-bottom: 2px solid #F5F5F5;
    padding: 30px 0;
  }
  .admin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }
</style>
