<template>
  <div class="wrapper">
    <app-header />
    <new-product />
  </div>
</template>

<script>

import AppHeader from '../../components/AppHeader'
import NewProduct from '../../components/product/NewProduct'

export default {
  name: 'new',
  components: {
    AppHeader,
    NewProduct
  }
}
</script>

<style scoped>
</style>
